<div>
    <h2>
        <span jhiTranslate="manleApp.clientUser.home.title">Client Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-user" [routerLink]="['/', { outlets: { popup: ['client-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="manleApp.clientUser.home.createLabel">
            Create new Client User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userName"><span jhiTranslate="manleApp.clientUser.userName">User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="manleApp.clientUser.phone">Phone</span> <span class="fa fa-sort"></span></th>
         <!--   <th jhiSortBy="password"><span jhiTranslate="manleApp.clientUser.password">Password</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="figure"><span jhiTranslate="manleApp.clientUser.figure">Figure</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="point"><span jhiTranslate="manleApp.clientUser.point">Point</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let clientUser of clientUsers ;trackBy: trackId">
                <td><a [routerLink]="['../client-user', clientUser.id ]">{{clientUser.id}}</a></td>
                <td>{{clientUser.userName}}</td>
                <td>{{clientUser.phone}}</td>
               <!-- <td>{{clientUser.password}}</td>-->
                <td>{{clientUser.figure}}</td>
                <td>{{clientUser.point}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-user', clientUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>


                     <!--   <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-user/'+ clientUser.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-user/'+ clientUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
