<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientUserLabel" jhiTranslate="manleApp.clientUser.home.createOrEditLabel">Create or edit a Client User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.clientUser.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="clientUser.userName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.clientUser.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="clientUser.phone" required/>
            <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phone?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.clientUser.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="clientUser.password" required/>
            <div [hidden]="!(editForm.controls.password?.dirty && editForm.controls.password?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.password?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.clientUser.figure" for="field_figure">Figure</label>
            <input type="text" class="form-control" name="figure" id="field_figure"
                [(ngModel)]="clientUser.figure" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.clientUser.point" for="field_point">Point</label>
            <input type="number" class="form-control" name="point" id="field_point"
                [(ngModel)]="clientUser.point" />
        </div>

        <div class="form-group">
            <label jhiTranslate="manleApp.clientUser.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" multiple name="product" [(ngModel)]="clientUser.products">
                <option [ngValue]="getSelected(clientUser.products, productOption)" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
