<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentReplyLabel" jhiTranslate="manleApp.commentReply.home.createOrEditLabel">Create or edit a Comment Reply</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commentReply.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commentReply.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.commentReply.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="commentReply.content" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.commentReply.creatDate" for="field_creatDate">Creat Date</label>
            <div class="input-group">
                <input id="field_creatDate" type="text" class="form-control" name="creatDate" ngbDatepicker  #creatDateDp="ngbDatepicker" [(ngModel)]="commentReply.creatDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="creatDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.commentReply.orderComment" for="field_orderComment">Order Comment</label>
            <select class="form-control" id="field_orderComment" name="orderComment" [(ngModel)]="commentReply.orderCommentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="orderCommentOption.id" *ngFor="let orderCommentOption of ordercomments; trackBy: trackOrderCommentById">{{orderCommentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.commentReply.clientUser" for="field_clientUser">Client User</label>
            <select class="form-control" id="field_clientUser" name="clientUser" [(ngModel)]="commentReply.clientUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientUserOption.id" *ngFor="let clientUserOption of clientusers; trackBy: trackClientUserById">{{clientUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
