<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myArticalCommentLabel" jhiTranslate="manleApp.articalComment.home.createOrEditLabel">Create or edit a Artical Comment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!articalComment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="articalComment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.articalComment.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="articalComment.content" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.articalComment.artical" for="field_artical">Artical</label>
            <select class="form-control" id="field_artical" name="artical" [(ngModel)]="articalComment.articalId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="articalOption.id" *ngFor="let articalOption of articals; trackBy: trackArticalById">{{articalOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="manleApp.articalComment.clientUser" for="field_clientUser">Client User</label>
            <select class="form-control" id="field_clientUser" name="clientUser" [(ngModel)]="articalComment.clientUserId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientUserOption.id" *ngFor="let clientUserOption of clientusers; trackBy: trackClientUserById">{{clientUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
