<div>
    <h2>
        <span jhiTranslate="manleApp.articalComment.home.title">Artical Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-artical-comment" [routerLink]="['/', { outlets: { popup: ['artical-comment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="manleApp.articalComment.home.createLabel">
            Create new Artical Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articalComments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="manleApp.articalComment.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="articalId"><span jhiTranslate="manleApp.articalComment.artical">Artical</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientUserId"><span jhiTranslate="manleApp.articalComment.clientUser">Client User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let articalComment of articalComments ;trackBy: trackId">
                <td><a [routerLink]="['../artical-comment', articalComment.id ]">{{articalComment.id}}</a></td>
                <td>{{articalComment.content}}</td>
                <td>
                    <div *ngIf="articalComment.articalId">
                        <a [routerLink]="['../artical', articalComment.articalId  ]" >{{articalComment.articalId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="articalComment.clientUserId">
                        <a [routerLink]="['../client-user', articalComment.clientUserId  ]" >{{articalComment.clientUserId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../artical-comment', articalComment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artical-comment/'+ articalComment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artical-comment/'+ articalComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
