
<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <h4 class="modal-title" id="myProductLabel" jhiTranslate="manleApp.product.home.createOrEditLabel">Create or edit a Product</h4>
    <jhi-alert-error></jhi-alert-error>
    <div class="upload-figure">
        <label class="form-control-label">Figure</label>
        <div class="header"  style="width: 120px;height: 160px;background: #ffffff"  >
            <img *ngIf="imageUrl" [src]="imageUrl" style="width: 120px;height: 160px;">
            <img *ngIf="product.figure && !imageUrl" [src]="imgPath+product.figure" style="width: 120px;height: 160px;">
        </div>
        <div class="btn btn-light" style="width: 100px;height: 38px" >
            选择图片
            <input type="file" class="form-control" name="figure" (change)="onChange($event)"  id="addImage" >
        </div>

        <button (click)="uploadFigure()"  class="btn btn-primary">上传</button>
    </div>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">


        <div class="modal-body">

            <div class="form-group" [hidden]="!product.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       [(ngModel)]="product.id" readonly />
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_productName">商品名</label>
                <input type="text" class="form-control" name="productName" id="field_productName"
                       [(ngModel)]="product.productName" />
            </div>
            <div class="form-group">
                <label class="form-control-label"  for="field_coverPrice">现价</label>
                <input type="number" class="form-control" name="coverPrice" id="field_coverPrice"
                       [(ngModel)]="product.coverPrice" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_originPrice">已优惠</label>
                <input type="number" class="form-control" name="originPrice" id="field_originPrice"
                       [(ngModel)]="product.originPrice" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_produceDate">生产日期</label>
                <div class="input-group">
                    <input id="field_produceDate" type="text" class="form-control" name="produceDate" ngbDatepicker  #produceDateDp="ngbDatepicker" [(ngModel)]="product.produceDate"
                    />
                    <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="produceDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_period">保质期</label>
                <input type="number" class="form-control" name="period" id="field_period"
                       [(ngModel)]="product.period" />
            </div>

            <div class="form-group">
                <label class="form-control-label"for="field_brand">品牌</label>
                <input type="text" class="form-control" name="brand" id="field_brand"
                       [(ngModel)]="product.brand" />
            </div>
            <div class="form-group">
                <label class="form-control-label"for="field_supply">供应地</label>
                <input type="text" class="form-control" name="supply" id="field_supply"
                       [(ngModel)]="product.supply" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_brief">简介</label>
                <input type="text" class="form-control" name="brief" id="field_brief"
                       [(ngModel)]="product.brief" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_description">描述</label>
                <input type="text" class="form-control" name="description" id="field_description"
                       [(ngModel)]="product.description" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_stock">库存</label>
                <input type="text" class="form-control" name="description" id="field_stock"
                       [(ngModel)]="product.stock" />
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_sell">销售量</label>
                <input type="text" class="form-control" name="description" id="field_sell"
                       [(ngModel)]="product.sell" />
            </div>

            <div class="form-group">
                <label class="form-control-label" for="field_category">分类</label>
                <select class="form-control" id="field_category" name="category" [(ngModel)]="product.categoryId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.categoryName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_theme">主题</label>
                <select class="form-control" id="field_theme" name="theme" [(ngModel)]="product.themeId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="themeOption.id" *ngFor="let themeOption of themes; trackBy: trackThemeById">{{themeOption.themeName}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>

</div>
