
<div *ngIf="product">
    <h2><span jhiTranslate="manleApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>商品图</span></dt>
        <dd>
            <span><img src="{{imgPath+product.figure}}" style="width: 250px;height: 250px"></span>
        </dd>
        <dt><span>商品名</span></dt>
        <dd>
            <span>{{product.productName}}</span>
        </dd>
        <dt><span>现价</span></dt>
        <dd>
            <span>{{product.coverPrice}}</span>
        </dd>
        <dt><span>已优惠</span></dt>
        <dd>
            <span>{{product.originPrice}}</span>
        </dd>
        <dt><span>生产日期</span></dt>
        <dd>
            <span>{{product.produceDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>保质期</span></dt>
        <dd>
            <span>{{product.period}}</span>
        </dd>

        <dt><span>品牌</span></dt>
        <dd>
            <span>{{product.brand}}</span>
        </dd>
        <dt><span>供应地</span></dt>
        <dd>
            <span>{{product.supply}}</span>
        </dd>
        <dt><span>简介</span></dt>
        <dd>
            <span>{{product.brief}}</span>
        </dd>
        <dt><span>描述</span></dt>
        <dd>
            <span>{{product.description}}</span>
        </dd>
        <dt><span >库存</span></dt>
        <dd>
            <span>{{product.stock}}</span>
        </dd>
        <dt><span >销售量</span></dt>
        <dd>
            <span>{{product.sell}}</span>
        </dd>
        <dt><span>分类</span></dt>
        <dd>
            <div *ngIf="product.categoryId">
                <a [routerLink]="['/category', product.categoryId]">{{product.categoryCategoryName}}</a>
            </div>
        </dd>
        <dt><span>主题</span></dt>
        <dd>
            <div *ngIf="product.themeId">
                <a [routerLink]="['/theme', product.themeId]">{{product.themeThemeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
